.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -200px;
  max-width: 500px;
  background: #fff;
  z-index: 100;
  box-shadow: 0 0 10px -6px rgba(0, 0, 0, 0.5);
  transform: scale(0);
  visibility: hidden;
  transition: 0.3s;
}
.show {
  visibility: visible;
  transform: scale(1);
}
@media screen and (max-width: 768px) {
  .modal {
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    max-width: 100%;
  }
}
