/* .banner {
  aspect-ratio: 16 / 9;
  width: 100%;
} */
.con {
  background: url(../../public/Banner.png);
  width: 100%;
  height: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(39, 76, 91);
}
.title {
  text-align: center;
}
