* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
.container {
  max-width: 1595px;
  margin: 0 auto;
}
.not {
  background: url("/404.jpg") left center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 100px 0;
}

.found {
  margin-right: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.noth1 {
  margin: 0;
  font-size: 300px;
  color: rgb(143, 168, 168);
  line-height: 0.8;
}
.noth2 {
  margin: 0;
  color: rgb(39, 76, 91);
  font-size: 70px;
}
.notp {
  margin: 0;
  font-size: 18px;
}
.notbutton {
  padding: 28px 46px;
  border-radius: 16px;
  background: rgb(39, 76, 91);
  color: white;
  text-decoration: none;
}
