.shop_single {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/img/shop-single.jpg) no-repeat;
  height: 450px;
  font-family: var(--font-roboto);
  font-weight: 800;
  font-size: 70px;
  color: #274c5b;
}
.details {
  display: flex;
  align-items: center;
  gap: 88px;
  max-width: 1337px;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 100px;
}

.image {
  max-width: 600px;
  max-height: 600px;
  position: relative;
  background: #f9f8f8;
  border-radius: 30px;
  border: 1px solid #ccc;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.product__p {
  position: absolute;
  top: 38px;
  left: 35px;
  max-width: 100px;
  border-radius: 8px;
  background: #274c5b;
  padding: 5px 12px;
  font-family: var(--font-openSans);
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #fff;
}
.image_image {
  border-radius: 30px;
}
.detail {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.name {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 9px;
}
.price {
  display: flex;
  align-items: center;
  gap: 5px;
}
.price__h3 {
  margin: 0;
  text-decoration: line-through;
  font-family: var(--font-openSans);
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #b8b8b8;
}
.price__h2 {
  margin: 0;
  font-family: var(--font-openSans);
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #274c5b;
}
.detail__h1 {
  margin: 0;
  font-family: var(--font-roboto);
  font-weight: 600;
  font-size: 40px;
  color: #274c5b;
}
.detail__p {
  max-width: 658px;
  margin: 0;
  font-family: var(--font-openSans);
  font-weight: 400;
  font-size: 18px;
  line-height: 165%;
  color: #525c60;
}
.form {
  display: flex;
  align-items: center;
  gap: 20px;
}
.form__div {
  display: flex;
  align-items: center;
  gap: 22px;
}
.form__h1 {
  margin: 0;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 20px;
  color: #274c5b;
}
.form__input {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 20px;
  color: #274c5b;
  text-align: right;
  max-width: 134px;
  border: 2px solid #274c5b;
  border-radius: 16px;
  padding: 28px;
  background: #fff;
}
.information {
  max-width: 1137px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 150px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.title__h3 {
  margin: 0;
  padding: 23px 57px;
  font-family: var(--font-openSans);
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  border-radius: 16px;
}
.title__blue {
  color: #fff;
  background: #274c5b;
}
.title__white {
  color: #274c5b;
  background: #eff6f1;
}
.information__p {
  margin: 0;
  font-family: var(--font-openSans);
  font-weight: 400;
  font-size: 18px;
  line-height: 165%;
  text-align: center;
  color: #525c60;
}

/* efjajdzkf */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 15px;
  margin-bottom: 200px;
}
.products {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.product {
  padding: 31px;
  background: #f9f8f8;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.product__image {
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.product__pp {
  margin: 0;
  max-width: 100px;
  border-radius: 8px;
  background: #274c5b;
  padding: 5px 12px;
  font-family: var(--font-openSans);
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #fff;
}
.link {
  text-decoration: none;
}
.product__rating {
  display: flex;
  flex-direction: column;
}
.product__rating__h1 {
  cursor: pointer;
  font-family: var(--font-roboto);
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  text-align: start;
  color: #274c5b;
}
.product__rating__h1:hover {
  color: #7eb693;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price {
  display: flex;
  align-items: center;
  gap: 5px;
}
.price__h33 {
  text-decoration: line-through;
  font-family: var(--font-openSans);
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #b8b8b8;
}
.price__h2 {
  font-family: var(--font-openSans);
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #274c5b;
}
.categories {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.categories__h5 {
  margin: 0;
  font-family: var(--font-yellowtail);
  font-weight: 400;
  font-size: 36px;
  color: #7eb693;
}
.categories__h1 {
  margin: 0;
  font-family: var(--font-roboto);
  font-style: italic;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  color: #274c5b;
}
.line {
  margin: 0;
  width: 100%;
  height: 1px;
  background: #dedddd;
  border: none;
}
/* sdfsd */
@media screen and (max-width: 1400px) {
  .details {
    padding: 0 15px;
    margin-top: 150px;
  }
  .form {
    flex-direction: column;
  }
  .shop_single {
    height: 400px;
  }
}

@media screen and (max-width: 990px) {
  .details {
    flex-direction: column;
    margin-top: 100px;
  }
  .form {
    align-items: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .details {
    margin-top: 50px;
  }
}
/* Products */
@media screen and (max-width: 1700px) {
  .product__image {
    max-width: 235px;
    max-height: 224px;
  }
}
@media screen and (max-width: 1400px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 100%;
  }
  .product__image {
    max-width: 100%;
    max-height: 100%;
  }
  .shop_single {
    font-size: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .products {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    margin-bottom: 100px;
  }
  .shop_single {
    font-size: 50px;
  }
}
@media screen and (max-width: 800px) {
  .title {
    flex-direction: column;
    padding: 0 15px;
  }
  .title__h3 {
    width: 100%;
    font-size: 20px;
  }
  .products {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .product__image {
    max-width: 335px;
    max-height: 324px;
  }
  .shop_single {
    font-size: 40px;
  }
  .shop_single {
    height: 300px;
  }
}
@media screen and (max-width: 420px) {
  .product {
    padding: 15px;
  }
  .product__image {
    max-width: 215px;
    max-height: 204px;
  }
}
@media screen and (max-width: 550px) {
  .image_image {
    height: 100%;
  }
  .product__p {
    top: 10px;
    left: 15px;
  }
}
